# Xcode
xcuserdata/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# SwiftPM
.build/
.swiftpm/

# Node / Vite
node_modules/
dist/
*.tsbuildinfo

# macOS
.DS_Store
